.btn,
.btn:link,
.btn:visited{
	display: inline-block;
	padding: 0.75em 1em;
	background-color: #79D1CC;
	background-image: linear-gradient(to bottom, #79D1CC, #79D1CC);
	border-radius: 6px;
	border-color: none;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	color: #fff;
}

.btn-alt,
.btn-alt:link,
.btn-alt:visited {
	background-color: #20B2AA;
	background-image: linear-gradient(to bottom, #20B2AA, #20B2AA);
}