/* Navigation Styles */

.nav-btn,
.nav-btn:link,
.nav-btn:visited{
	display: block;
	height: 40px;
	width: 40px;
	position: absolute;
	top: 10px;	
	right: 5%;
	
	background: #fff url('../images/nav-icon.svg') no-repeat center center;
	/* background-color || background-image || background-repeat || background-position*/
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active{
	background-color: #20B2AA;
}

.nav-btn[data-state="active"] {
	background: #20B2AA url('../images/nav-close.svg') no-repeat center center;
}

.nav a, 
.nav a:link,
.nav a:visited{
	display: block;
	padding: 1rem;
	text-align:center;
	color: #fff;
	text-decoration: none;
	background-color: #79D1CC;
	border-top: 1px solid #fff;
	/* border-width || border-style || border-color */
}

.nav a:hover,
.nav a:focus,
.nav a:active{
	background-color: #20B2AA;
}

	/* Toggle Nav*/

	.nav-top{
		max-height: 0;
		-moz-transition: all 250ms linear;
		-o-transition: all 250ms linear;
		-webkit-transition: all 250ms linear;
		transition: all 250ms linear;
		overflow:hidden;
	}

	.nav-top[data-state="expanded"]{
		max-height: 14rem;
	}
	
@media only screen and (min-width: 25em){
	.nav{
		overflow: auto;
	}
	
	.nav li{
		float: left;
		width: 33.33%;
	}
	
	.nav-btn,
	.nav-btn:link,
	.nav-btn:visited{
		display: none;
	}
	
	.nav-top{
		max-height: 5rem;
	}
}
