# Accessibility Testing Report

User testing was conducted by Tara Boland on  between the times of {start time} and {end time} with the following participants:

- Logan Brandwood
- Samantha Nickerson
- Ivy LaBossiere
- Giulia Balestra
- Sean Okai
- Sarah Boostma

## Tasks

1. {Buy an item from promo page}
2. {Learn more about the company}
3. {Find out more about Alima foundation}

---

## Individual Results & Observations

### Logan Brandwood

- {She completed the task as expected…}
- {No troubles completing tasks…}

### Samantha Nickerson

- {She completed the task as expected… All worked fine}
- {She had troubles clicking the specific product (no tab option)}

### Ivy LaBossiere

- {She completed the task as expected…}
- {Confusion with page names}

### Giulia Balestra

- {She completed the task as expected…}
- {Confusion with page names}

### Sean Okai

- {He completed the task as expected…}
- {No troubles completing tasks}

### Sarah Bootsma

- {She completed the task as expected…}
- {No troubles completing taks}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Samantha has issues with tabbing through the makeup options (which I later fixed)

### Serious, Causes Frustration, May Hinder Completion

- N/A

### Minor, Annoying, Won’t Hinder Completion

- {Some participants were confused by page names/ what they were looking for}