# User Testing Report

User testing was conducted by Tara Boland on April 1, 2014 between the times of 15:30 and {end time} with the following participants:

- Ivy LaBossiere
- Logan Brandwood
- Giulia Balestra

## Tasks

1. Buy item
2. Learn more about company
3. Search for item

---

## Individual Results & Observations

### {Ivy LaBossiere}

- She clicked the Buy Now button on the promo page
- She clicked About in navigation to learn more about the company
- She typed into the search field and it brought her to Search Results
- Wasn't totally confident in proceeding to cart (maybe once lorem ipsum is filled in it will make more sense)

### {Logan Brandwood}

- She clicked the Buy Now button and proceeded all the way to the Thank You page (once purchase was complete)
- She clicked "About" in the navigation to learn more about the company
- She typed randomly the search field and was brought to a "Search Results" page

### {Giulia Balestra}

- She clicked the Buy Now button, went to cart, proceeded to check out and was left on the Thank You page.
- She clicked "About" in the navigation to learn more about the company
- She typed into the search field and was brought to the "Search Results" page

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- N/A

### Serious, Causes Frustration, May Hinder Completion

- N/A

### Minor, Annoying, Won’t Hinder Completion

- Type is still mostly "Lorem Ipsum" which could be slightly confusing, but will be changed.