.header-text {
	text-align: center;
	padding-top: 2rem;
}

.logo {
	height: 150px;
	width: 150px;
	margin: 0 auto;
}

.current {
	background-color: #20B2AA;
}

.banner {
  background: #20B2AA url("../images/banner.jpg") no-repeat center center;
  background-size: cover;
  padding: 5em 1em 1em;
  text-align: center;
  margin-top: 1rem;
}

.banner h2 {
  color: #20B2AA;
}

.grid-header a {
	font-size: 2rem;
}