<!DOCTYPE html>
<html lang="eng-ca">
<head>
	<meta charset="utf-8">
	<title>{{page.title}} · Organic Makeup</title>
	<meta name="handheldfriendly" content="true">
 	<meta name="mobileoptimized" content="240">
  	<meta name="viewport" content="width=device-width,initial-scale=1">
  	<link href="http://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
	<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/embed.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/icons.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/forms.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product-list-item.css" rel="stylesheet">
</head>

<body>

	{{page.url}}

<div class="grid">

	<div class="unit unit-s-1 unit-m-1-4 unit-l-1-4">
		<a href="{{site.baseurl}}/index.html/"><img class="img-flex logo" src="http://placehold.it/640x640" alt="">
	</div>
	<div class="unit gutter unit-s-1 unit-m-1-4 unit-l-1-4 header-text">
	    <a class="{% if page.url == '/' %}current{% endif %}" href="{{site.baseurl}}/">Home</a>
	</div>
	<div class="unit gutter unit-s-1 unit-m-1-4 unit-l-1-4 header-text">
          <a class="{% if page.url == '/about/' %}current{% endif %}" href="{{site.baseurl}}/about/">About</a>
	</div>

		<div class="unit gutter unit-s-1 unit-m-1-4 unit-l-1-4 header-text">
			<div class="container">
				
				<div id="search">
					<form action="javascript:void(0);" method="GET">
						<fieldset class="clearfix">
							<input type="search" name="search" value="What are you looking for?" onBlur="if(this.value=='')this.value='What are you looking for?'" onFocus="if(this.value=='What are you looking for?')this.value='' "> 
							<!-- JS because of IE support (better): placeholder="What are you looking for?" -->
							<input type="submit" value="Search" class="button">
						</fieldset>
					</form>
				</div>
			</div>
		</div>
</div>

{{content}}

		<footer>	 				
	
			<p>©2014 Organic Makeup</p>

			<ul class="list-group">
				<li class="list-group-item list-group-item-inline">
					<img src="http://placehold.it/32x32/ffffff" alt="">
				</li>
				<li class="list-group-item list-group-item-inline">
					<img src="http://placehold.it/32x32/ffffff" alt="">
				</li>
				<li class="list-group-item list-group-item-inline">
					<img src="http://placehold.it/32x32/ffffff" alt="">
				</li>
			</ul>
				 	
		</footer>

</body>

</html>