<!DOCTYPE html>
<html lang="eng-ca">
<head>
	<meta charset="utf-8">
	<title>{{page.title}} · Organic Makeup</title>
	<meta name="description" content={{page.meta}}>
	<meta name="handheldfriendly" content="true">
 	<meta name="mobileoptimized" content="240">
  	<meta name="viewport" content="width=device-width,initial-scale=1">
  	<link href="http://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
	<link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>

<body>

<div class="grid grid-header" role="navigation">

	<div class="unit unit-s-1 unit-m-1-4 unit-l-1-4">
		<a href="{{site.baseurl}}/"><img class="img-flex logo" src="{{site.baseurl}}/images/logo.png" alt=""></a>
	</div>
	<div class="unit gutter unit-s-1 unit-m-1-4 unit-l-1-4 header-text">
          <a class="{% if page.url == '/about/' %}current{% endif %}" href="{{site.baseurl}}/about/">About</a>
	</div>
		<div class="unit gutter unit-s-1 unit-m-1-4 unit-l-1-4 header-text">
          <a class="{% if page.url == '/makeup/' %}current{% endif %}" href="{{site.baseurl}}/makeup/">Make Up</a>
	</div>
		<div class="unit gutter unit-s-1 unit-m-1-4 unit-l-1-4 header-text">
          <a class="{% if page.url == '/cart/' %}current{% endif %}" href="{{site.baseurl}}/cart/">Cart</a>
	</div>
</div>

<div class="grid grid-search">

		<div class="unit gutter unit-s-1 unit-m-1 unit-l-1 header-text">
			<div class="container">
				
				<div id="search">
					<form method="get" action="{{site.baseurl}}/search/" role="search">
						<fieldset class="clearfix">
							<input type="search" name="search" value="What are you looking for?" onBlur="if(this.value=='')this.value='What are you looking for?'" onFocus="if(this.value=='What are you looking for?')this.value='' "> 
							<!-- JS because of IE support (better): placeholder="What are you looking for?" -->
							<input type="submit" value="Search" class="button">
						</fieldset>
					</form>
				</div>
			</div>
		</div>
</div>

{% if page.showbanner %}
<div class="banner">
  <h2>{{page.bannertext}}</h2>
</div>
{% endif %}

<div class="maincontent">{{content}}</div>

		<footer>	 				
	
			<p role="contentinfo">©2014 Organic Makeup</p>

			<ul class="list-group">
				<li class="list-group-item list-group-item-inline">
					<img class="socialicon" src="{{site.baseurl}}/images/twitter.png" alt="">
				</li>
				<li class="list-group-item list-group-item-inline">
					<img class="socialicon" src="{{site.baseurl}}/images/linkedin.png" alt="">
				</li>
				<li class="list-group-item list-group-item-inline">
					<img class="socialicon" src="{{site.baseurl}}/images/facebook.png" alt="">
				</li>
			</ul>
				 	
		</footer>

</body>

</html>